* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.sky{
    width: 100%;
    height: 150px;
    background-color: rgb(126, 219, 250);
}
.green{
    width: 100%;
    height: 150px;
    background-color: rgb(28, 119, 0);
}
.gray{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgb(70, 70, 70);
    border-top: 5px solid rgb(143, 143, 143);
}
.road{
    width: 100%;
    height: 150px;
    top: 50%;
    position: absolute;
    border-top: 5px dashed rgb(255, 255, 255);
}
.button{
    position: absolute;
    top: 20px;
    left:50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(126, 219, 250);
    margin: auto;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(236, 137, 137) ;
    transition: background-color .5s, transform .3s .5s;
}
.play {
    font-size: 25px;
   padding-top:35px;
   color: rgb(255, 255, 255);
}
.button:hover{
    background-color: rgb(248, 87, 114);
    transform: rotateZ(360deg) ;
    box-shadow: 0 0 0 rgb(236, 137, 137) ;
    width: 95px;
    height: 95px;
}
.mario{
    position: absolute;
    top:-40px;
    left:0;
    animation: drive 3s linear infinite both, jump .5s 1s ease;
    /*
    animation: animation-name animation-duration animation-delay 
    animation-timing-function animation-iteration-count animation-fill-mode}*/
}
@keyframes drive{
    from{left:-50}
    to{left:1700px}
}
@keyframes jump{
    0%{top:-40px}
    50%{top:-100px}
    100%{top:-40px}


}
.cloud {
    position: absolute;
    animation-name: wind;
    animation-direction: reverse;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.cloud:nth-child(1){
    width: 150px;
    top:20px;
    left: 30px;
    opacity: .5;
    animation-duration: 10s;
}
.cloud:nth-child(2){
    width:150px;
    left:50px;
    animation-duration: 25s;
}
.cloud:nth-child(3){
    width:100px;
    left:70px;
    opacity: .9;
    animation-duration: 20s;
}

@keyframes wind{
    from{left:-300px;}
    to{transform: translate(1300px);}
}
.luigi{
    position: absolute;
    top:50px;
    left:0;
    animation-name: drive;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-direction:normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* animation shorthand

animation: animation-name animation-duration animation-delay 
animation-timing-function animation-iteration-count animation-fill-mode}

*/